<!DOCTYPE html>
<html>
  
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css" />
    <script data-require="angularjs@1.5.0" data-semver="1.5.0" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
  </head>

  <body ng-app="irTest">
    <div class="mainContainer" ng-controller="testCtrl as vm">
      <header>
        <form class="form" ng-submit="vm.addToBoxOne()">
          <input class="input" ng-model="vm.toDo" placeholder="Add new item">
          <input class="submitButton" type="submit" value="Add New Todo">
        </form>
        <p class="saveMessage">{{vm.saveMessage}}</p>
        <button class="saveButton" ng-click="vm.saveState()">Save state</button>
        <button class="loadButton" ng-click="vm.loadState()">Load state</button>
      </header>    

      {{vm.todo}}
      <div class="box1">
        <p>Todos</p>
        <ul id="todo" dropzone class="list">
          <li dnd id="todo-{{$index}}" class="alert alert-info nomargin" ng-repeat="item in vm.todo track by $index">
            {{item}}
            <button id="todoDelete" ng-click="vm.deleteTask($index, $event)" class="closeButton">X</button>
          </li>
        </ul>
      </div>
      
      <div class="buttonSwitcher">
        <button ng-click="vm.moveRight()" class="switch">Right</button>
        <button ng-click="vm.moveLeft()" class="switch">Left</button>
      </div>

      {{vm.done}}
      <div class="box2">
        <p>Done</p>
        <ul id="done" dropzone class="list">
          <li dnd id="done-{{$index}}" class="alert alert-info nomargin" ng-repeat="item in vm.done track by $index">
            {{item}}
            <button id="doneDelete" ng-click="vm.deleteTask($index, $event)" class="closeButton">&times;</button>
          </li>
        </ul>
      </div>
    </div>

    <!-- load app scripts -->
    <script src="app.js"></script>
    <script src="dnd.js"></script>

  </body>

</html>