.mainContainer {
  margin: 0 auto;
  width: 800px;
  height: 800px;
  border: 1px solid blue;
  position: relative;
}

header {
  width: 500px;
  height: 80px;
  margin: 0 auto;
  border: 1px solid black;
}

.box1 {
  width: 300px;
  height: 650px;
  border: 1px solid black;
  position: absolute;
  bottom: 0px;
}

.box2 {
  width: 300px;
  height: 650px;
  border: 1px solid black;
  position: absolute;
  bottom: 0px;
  right: 0px ;
}

.buttonSwitcher {
  width: 100px;
  height: 400px;
  border: 1px solid blue;
  position: absolute;
  bottom: 120px;
  left: 350px;
}

form {
  text-align: center;
}

header {
  position: relative;
  text-align: center;
}

.todo {
  border: 1px solid black;
}

.switch {
  display: block;
  margin: 0 auto;
}

.saveButton {
  position: absolute;
  top: 53px;
  left: 116px;
}

.loadButton {
  position: absolute;
  top: 53px;
  left: 300px;
}

.list {
  min-height: 600px;
}

.closeButton {
  float: right;
}